<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<div class="navbar navbar-fixed-top">
  		<a href="#" class="navbar-brand">Treebook</a>
	</div>

<%= yield %>

	</div>
</body>
</html>
